fundamentals/introduction/testing_python.py
Python.code-workspace
mysql/quieries/dojos_and_ninjas/3_new_dojos.txt.bak
flask/fundamentals/Playground/Pipfile.lock
flask/fundamentals/Week3_Lesson3/Pipfile.lock
flask/fundamentals/Week3_Lesson3/Pipfile
flask/fundamentals/Playground/Pipfile
flask/fundamentals/hello_flask/Pipfile
flask/fundamentals/hello_flask/Pipfile.lock
flask/fundamentals/Week3_Lesson3_extra/Pipfile
.gitignore
flask/fundamentals/Week3_Lesson3_extra/Pipfile.lock
flask/fundamentals/HTML_Table/Pipfile.lock
flask/fundamentals/HTML_Table/Pipfile
flask/fundamentals/Counter/Pipfile.lock
.gitignore
.gitignore
flask/fundamentals/Sessions/Pipfile.lock
flask/fundamentals/Sessions/Pipfile
flask/fundamentals/Counter/Pipfile
flask/fundamentals/Dojo_Survey/Pipfile.lock
flask/fundamentals/Dojo_Survey/Pipfile
flask_mysql/crud/Users_CR/Pipfile.lock
flask_mysql/crud/Users_CR/Pipfile
flask_mysql/crud/Dojos_and_Ninjas/Pipfile
flask_mysql/crud/Dojos_and_Ninjas/Pipfile.lock
flask_mysql/crud/Users_CRUD/Pipfile
.gitignore
flask_mysql/crud/Users_CRUD/Pipfile.lock
flask_mysql/crud/users_crud_modularization/Pipfile
flask_mysql/crud/users_crud_modularization/Pipfile.lock
mysql/quieries/dojos_and_ninjas/dojos.table.csv
mysql/quieries/dojos_and_ninjas/ninjas.table.csv
flask_mysql/validation/basic_form_validation/Pipfile.lock
flask_mysql/validation/basic_form_validation/Pipfile
flask_mysql/validation/cookie_orders_with_validation/Pipfile
flask_mysql/validation/cookie_orders_with_validation/Pipfile.lock
flask_mysql/validation/login_and_registration/Pipfile
.gitignore
flask_mysql/validation/login_and_registration/Pipfile.lock
mysql/erd/Dojos_and_Ninjas/Dojos_and_Ninjas.mwb
mysql/erd/Dojos_and_Ninjas/Dojos_and_Ninjas.mwb.bak
mysql/erd/week2_lecture6/user_posts_comments.mwb
mysql/erd/week2_lecture6/user_posts_comments.mwb.bak
flask_mysql/belt_review/recipes/flask_app/templates/dashboard.html
flask_mysql/belt_review/recipes/Pipfile
flask_mysql/belt_review/recipes/Pipfile.lock
ajax/ajax_flask/flask_with_ajax/Pipfile
ajax/ajax_flask/flask_with_ajax/Pipfile.lock
